- if flash[:notice].present?
	.notice= flash[:notice]
	
%h1= @album.title
%p
	%strong Title
	= @album.title
%p
	%strong Precio
	= @album.price
%p
	%strong Etiqueta Produccion
	= @album.production_label
%br

- if @album.songs.any?
	%table{border: "1"}
		%tr
			%th Titulo
			%th Duracion
			%th Musica y Lirica
			%th
	= render @album.songs
- else
	%em No hay albums agregados

//= link_to "Nueva Cancion", new_album_songs_path